.weather {
  text-align: center;
}

.weather__title {
  padding: 100px 0 40px 0;
  margin: 0;
  font-size: 40px;
  color: #03e9f4;
}

.weather__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__search {
  display: flex;
  align-items: center;
}

.weather__input {
  background: inherit;
  border: 2px solid #03e9f4;
  font-size: 16px;
  height: 26px;
  width: 255px;
  margin-right: 25px;
  color: #03e9f4;
}

.weather__input:focus {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  outline: none;
}

.weather__error-message {
  position: fixed;
  visibility: hidden;
  margin: 20px 0;
  font-size: 22px;
  color: red;
}

.weather__error-message_active {
  position: static;
  visibility: visible;
}

.weather__button {
  background: #03e9f4;
  color: inherit;
  height: 32px;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.weather__button:hover {
  cursor: pointer;
  background: inherit;
  color: #03e9f4;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.weather__container {
  display: flex;
  align-items: center;
  margin: 60px 0 20px 0;
}

.weather__container-inactive {
  visibility: hidden;
  position: fixed;
}

.weather__list-title {
  padding: 0;
  margin: 0 20px 0 0;
}

.weather__location {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  color: #03e9f4;
  margin: 0 0 10px 0;
}

.weather__condition {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #03e9f4;
}

.weather__list-forecast {
  margin: 0;
  padding: 0;
  list-style: none;
}

.weather__list-forecast_item {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #03e9f4;
}

.weather__list-forecast_value {
  color: #ffffff;
}

.weather__container_temperature {
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 133px;
  color: #ffffff;
  margin: 0;
}

.weather__container_icon {
  width: 82px;
  margin: 0 33px 0 13px;
  height: 82px;
}
span {
  position: relative;
}

.weather__title span:nth-child(1) {
  animation: animate 0.6s linear;
}

.weather__title span:nth-child(2) {
  animation: animate 0.9s linear;
}

.weather__title span:nth-child(3) {
  animation: animate 1.2s linear;
}

.weather__title span:nth-child(4) {
  animation: animate 1.5s linear;
}

.weather__title span:nth-child(5) {
  animation: animate 1.8s linear;
}

.weather__title span:nth-child(6) {
  animation: animate 2.1s linear;
}

.weather__title span:nth-child(7) {
  animation: animate 2.4s linear;
}

.weather__title span:nth-child(8) {
  animation: animate 3s linear;
}

.weather__title span:nth-child(9) {
  animation: animate 3.3s linear;
}

.weather__title span:nth-child(10) {
  animation: animate 3.6s linear;
}

.weather__title span:nth-child(11) {
  animation: animate 3.9s linear;
}

.weather__title span:nth-child(12) {
  animation: animate 4.2s linear;
}

.weather__title span:nth-child(13) {
  animation: animate 4.5s linear;
}

@keyframes animate {
  0% {
    top: -1000px;
  }
  20% {
    top: -800px;
  }
  40% {
    top: -600px;
  }
  60% {
    top: -400px;
  }
  80% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
